@import "tailwindcss";
@variant dark (&:is(.dark *));

/* Kontentni belgilash, ko'chirish va tortib olishni bloklash */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* Rasmlar va videolarni brauzerdan tortib olib saqlashni to'sish */
img,
video {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* Skrinshot paytida (Print / Ctrl+P oynasida) butun sahifani qoraytirib yashirish */
@media print {
  body {
    display: none !important;
  }
}

/* Karusel slayderi uchun gorizontal skroll chizig'ini yashirish */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
